.Experience {
    position: relative;
    padding-top: 4vh;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    /* width: 85%; */
}
.Experience h3 {
    color: gray;
}
.Experience #exp-title {
    font-weight: 600;
    color: white;
}
.Experience .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Experience .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}
.Experience img {
    height: 65%;    
}
.Experience .line {
    position: absolute;
    background-color: gray;
    width: 10px;
    height: 100%;
    z-index: 0;
}

@media (max-width: 1100px) {
    .Experience {
        grid-template-columns: 22% 22% 56%;
    }
}